/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Bb]uild/
/[Bb]uilds/
/.vs/
*.csproj
*.sln
*.user
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db
/Assets/Scrapshift/Generated/
/Assets/Scrapshift/Generated.meta
/TestResults*.xml
